
.advantages__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;

    
    @media (max-width:768px) {
     
    }
    @include mobile {
    
    }
        
    @include tablet {

    }

    @include desktop {

    }
}


 .advantages__item {

    &:not(:last-child) {
        @media screen and (max-width:480px) {
            margin-bottom: 30px;
        }

    }

    @include mobile {
   
    }
        
    @include tablet {
        @include calc(2);
     
    }
         
    @include desktop {
        @include calc(4);
    }
}



.advantages__thumb {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;


    background-color: var(--grey-bcg);
    border-radius: 4px;
    margin-bottom: 30px;

    @include mobile {
    
    }
    
    @include tablet {
        width: 354px;

    }
    
    @include desktop {
        width: 270px;
    }

}

.advantages__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--secondary-text);
    margin-bottom: 10px;
    text-align: center;


    @include mobile {

    }
        
    @include tablet {
        text-align: left;
    }
        
    @include desktop {


    }
}


.advantages__text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    
}

