.header-main {
    border-bottom: 1px solid #ECECEC;
}

.header-container {
    display: flex;
    align-items: center;
}

.nav-main {
    display: flex;

    @include displaynone-header {
        display: none;
    }
}

.header-button {
    background-color: transparent;
    margin-left: auto;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;

    @include tablet {
            display: none;
        }

    @include desktop {
            display: none;
    }
}

