.header-main {
    border-bottom: 1px solid #ECECEC;
}

.header-container {
    display: flex;
    align-items: center;
}

.nav-main {
    display: flex;

    @include displaynone-header {
        display: none;
    }
}

.header-button {
    background-color: transparent;
    margin-left: auto;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;

    @include tablet {
            display: none;
        }

    @include desktop {
            display: none;
    }
}

        // <!-- <div class="header__menu">
        //   <button type="button" class="modal-close-button" data-modal-close>
        //   <div class="mob-menu">
        //       <svg class="modal-close-icon" width="11" height="11">
        //         <use href="./images/icons.svg#Vector"></use>
        //       </svg>
        
        //     <div class="menu__nav">
        //       <ul class="menu__list list">
        //         <li class="menu__item"><a href="./index.html" class="link current">Студія</a></li>
        //         <li class="menu__item"><a href="./potfolio.html" class="link">Портфоліо</a></li>
        //         <li class="menu__item"><a href="" class="link">Контакти</a></li>
        //       </ul>
        //     </div>
        //   </div>
        // </div> -->